/* COLOURS */

/* #FFFAF4 */
/* #f1e8db */
/* #8B1874 */

/* MAIN */

body {
    background-color: #FFFAF4 !important;
    margin: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium !important;
    font-weight: bolder;
}

h3{
    font-size: medium !important;
    font-family: 'Source Serif Pro', serif;
}

h4 {
    font-size: small !important;
    font-family: 'Source Code Pro', monospace;
}

/* NAVBAR */

.navbar {
    background-color: #8B1874;
}

.nav-item {
    padding: 0 2rem 0 2rem;
    margin: 0;
}

.scon-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.search-box {
    margin: 0 5px;
}
/* LAYERS */

.layer {
    margin-top: 5rem;
}

.sect-round {
    border-radius: 15px !important;
}

/* PROFILE SECTION */

.profile-sect {
    background-color: #f1e8db;
    border: 5px solid white;
}

.profile-photo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px 0px;
}

.profile-info {
    text-align: start;
}

/* CONTENT SECTION */

.content-sect {
    background-color: #f1e8db;
    border: 5px solid white;
}

.latest-post {
    margin-top: 2px;
}

.post-box {
    display: inline-block;
    margin: auto;
    width: 90%;
}

#post-box {
    border: 2px solid #8B1874;
    border-radius: 25px;
    height: auto;
}

/* CHAT SECTION */

.chat-div {
    text-align: start;
}

.chat-sect {
    background-color: #f1e8db;
    border: 5px solid white;
}

.chat-text {
    font-family: 'Source Code Pro', monospace;
    font-size: small;
}

